<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience</title>
</head>
<body>
  <h1>Enter your experience if have any</h1> 
  <form action="/education" method="GET">
    <input type="text" name="companyName" placeholder="Company Name" id="companyName">
    <br>
    <br>
    <input type="text" name="jobTitle" placeholder="Job Title" id="jobTitle">
    <br>
    <br>
    <input type="text" name="jobDescription" placeholder="Job Description" id="jobDescription">
    <br>
    <br>
    <input type="text" name="startDate" placeholder="Start Date" id="startDate">
    <br>
    <br>
    <input type="text" name="endDate" placeholder="End Date" id="endDate">
    <br>
    <br>
    <input type="submit" value="Submit">
</body>
</html>