<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Template</title>
</head>
<body>
  <h1>SELECT your prefered template</h1>
  <form action="/" method="post">
    <input type="submit" value="Generate CV">
    <button type="submit" formaction="/generate-pdf">Download as PDF</button>
  </form>
</body>
</html>